{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="symfony-form">
        {% if error %}
            {% if error.message == 'Votre compte est désactivé.' %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% else %}
                <div class="alert alert-danger">Authentification incorrecte</div>
            {% endif %}
        {% endif %}

        <label for="inputEmail">Identifiant</label>
        <input type="texte" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

        <button class="btn btn-primary" style="border-radius:25px;">Connexion</button>

    </form>
{% endblock %}
