{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <div class="text-center symfony-index">

        <h1>Liste des utilisateurs</h1>

        <table class="table table-striped bg-white" style="margin-top:45px;">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.nom }}</td>
                        <td>{{ participant.prenom }}</td>
                        <td>
                            <a class="btn btn-warning" style="border-radius:25px;"> Désactiver </a>
                            <a href="{{ path('participant_delete', {id : participant.id}) }}" class="btn btn-danger" style="border-radius:25px;"> Supprimer </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('participant_new') }}" class="btn btn-success text-white text-center mt-3"
                   style="border-radius:25px;">Créer un utilisateur</a>
    </div>
{% endblock %}
